{% extends 'base.html' %} {% block content %}
<section class="no-touch">

    {% for photo in photo %}
    <!-- <div class="container"> -->
        <div class="jubmutron">
    <div class="well col-md-6  col-sm-12">
        
        <div class="uk-card uk-card-default uk-card-body uk-width-3-2@m">
            <img src="{{photo.photo.url}}" class="img-responsive" width="100%" height="100%">
            <h3 class="uk-card-title">{{photo.name|upper}}</h3>
            <hr class="uk-divider-icon">
        <a href="{% url 'singlePhoto' photo.id %}"> <p>More Details</p>
               
        </div>
        </a>
    </div>
        </div>
    <!-- </div> -->
    {% endfor %}

</section>

{% endblock %}