
<!-- <section class="no-touch"> -->
<div class="container" style= "font-family: 'Cormorant Upright', serif;">
    <div class="jumbotron text-center" style= "min-height: 300vh;background-color:rgb(153, 51, 51); color:darkcyan; font-family: monospace;">
        <div class="well" style="color:black;">
            <h1> Photo Album</h1>
        </div>
            <div class="row">
{% extends 'base.html' %} {% block content %}                
     
    {% for photo in photo %}
   
    <!-- <div class="container">
        <div class="jubmutron"> -->
    <div class="well col-md-4">
        
        <div class="uk-card uk-card-default uk-card-body uk-width-3-2@m" style= "height: 500px; width: 700px;">
            <img src="{{photo.photo.url}}" class="img-responsive" width="700px" height="700px">
            <h3 class="uk-card-title">{{photo.name|upper}}</h3>
            <hr class="uk-divider-icon">
        <a href="{% url 'singlePhoto' photo.id %}"> <p>More Details</p>
               
        </div>
        </a>
        <div class="modal-footer">
            <input class="form-control input-lg" type="text"  value="http://127.0.0.1:8000{{photo.photo.url}}" id="{{photo.id}}-url" >
                  <button class="btn btn-outline-info" onclick="copyUrl('{{photo.id}}-url')">Copy link</button>
    
          </div>
        <script type="text/javascript">
            function copyUrl(element) {
            var myVar = document.getElementById(element);
            myVar.select();
            document.execCommand('copy');
            alert("Photo's link copied: " + myVar.value);  
            }
        </script>
    
        
    </div>
       
    {% endfor %}

<!-- </section> -->

{% endblock %}